.post-avatar-wrapper {
  float: left;
}

@media (min-width: 48rem) {
    .content-banner-image {
      margin-left: 5%;
    }
    html, .post-summary, .post, .post p {
      font-size: 1.1rem;
    }
/*    html {
      font-size: 1.0rem
    }
*/
    .header {
        margin: 60% 2rem 0;
        text-align: left;
    }
}

@media (min-width: 78rem) {
    html, .post-summary, .post, .post p {
    font-size: 1.15rem;
  }
}
@media (min-width: 98rem) {
  html, .post-summary, .post, .post p {
  font-size: 1.2rem;
}
}

.ltr {
    text-align: left;
    direction: ltr;
    /*background-color: hsl(0, 50%, 90%);*/
}

.rtl {
    text-align: right;
    direction: rtl;
    /*background-color: hsl(200, 50%, 90%);*/
}
