<script type="text/javascript">
$(document).ready(function() {
var opts = { {{ if .Params.lang }}language: "{{ .Params.lang }}",{{ end }} pathPrefix: "/js/lang", skipLanguage: /^en/ };
$("[data-localize]").localize("lang", opts);
});
</script>

{{ if .Params.slides }}
 <script>
      var hljs = remark.highlighter.engine;
    </script>

  {{ if .Params.slidesfile }}
    <script>

      remark.macros.scale = function (percentage) {
        var url = this;
        return '<img src="' + url + '" style="width: ' + percentage + '" />';
      };

      var slideshow = remark.create({
          highlightStyle: 'monokai',
          highlightLanguage: 'remark',
          highlightLines: true,
          sourceUrl: "/slides/{{ .Params.slidesfile }}"
        }) ;
    </script>
  {{ end }}
{{ end }}
